<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Викторина</title>
    <link rel="stylesheet" th:href="@{/css/question.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{/parts/header_quiz :: header}"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <div class="question">
                        <p class="cardTXT" th:text="${question.getQuestion()}" style="word-wrap: break-word;"></p>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <form id="quiz-form" th:action="@{/quiz/{id}(id=${id})}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div class="form-check" th:each="option, index : ${question.options}">
                                <label>
                                    <input class="form-check-input" type="radio" th:name="answer"
                                           th:value="${index.index}" th:id="${index.index}" />
                                </label>
                                <label class="form-check-label" th:for="${index.index}" th:text="${option}"></label>
                                <br/>
                            </div>
                            <input class="btn btn-primary btn-sm" type="submit" th:value="Ответить" onclick="return validateForm();" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function validateForm() {
        var checkboxes = document.getElementsByName('answer');
        var checked = false;

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checked = true;
                break;
            }
        }

        if (!checked) {
            alert('Пожалуйста, выберите один вариант ответа.');
            return false; // Отмена отправки формы
        }

        return true; // Продолжение отправки формы
    }
    function getCookieValue(cookieName) {
        const name = cookieName + "=";
        const decodedCookie = decodeURIComponent(document.cookie);
        const cookieArray = decodedCookie.split(';');

        for (let i = 0; i < cookieArray.length; i++) {
            let cookie = cookieArray[i];
            while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) === 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }

        return null;
    }

    const langCookieValue = getCookieValue("lang");
    console.log(langCookieValue);

</script>
</body>
</html>
