/*HEADER*/
.navbar{
    color: #0064bd;
}
.navbar-brand{
    padding-left: 1%;
}
.userName{
    color: #073967;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family: "Lucida Console";
}
.headButton{
    width: 38px;
    height: 35px;
    color: #073967;
    font-size: 1.3rem;
    border-radius: 33px;
    text-align: center;
    margin: 0 30px 0 30px;
}
.headButton:hover{
    color: #278ff3;
}

.home-logo{
    width: 35px;
    height: 35px;
}