body{
    background-color: black;
}
.row{
    padding-top: 5%;
}

img{
    width: 300px;
}

.under-row{
    padding-top: 3%;
}


/*HEADER*/
.navbar{
    color: #0064bd;
}
.navbar-brand{
    padding-left: 5%;
}

.login{
    color: #06335C;
    margin-right: 30px;
    font-size: 1.8rem
}

.login:hover{
    color: #06335C;
    font-size: 2.1rem;
}