@import "header.css";
body{
    background-color: black;
}
.row{
    padding-top: 2%;
}
.image-container img{
    border-radius: 12px;
}
.under-row{
    padding-top: 2%;
}

.btn{
    margin-top: 1%;
    width: 555px;
}