<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Оценка защищенности персональных данных</title>
    <link th:href="@{css/index.css}" rel="stylesheet">
</head>

<body>
    <header>
        <a class="logo" href="http://privacy.dpa.gov.kg">
            <img src="https://privacy.dpa.gov.kg/images/logo.png" height="31px">
        </a>
        <nav>
            <ul>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://privacy.dpa.gov.kg">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://dpa.gov.kg/ru/about">Об Агентстве</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://dpa.gov.kg/ru/page/individuals">Гражданам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://dpa.gov.kg/ru/page/entity">Организациям</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://dpa.gov.kg/ru/npa/category/npa_localacts">Полезные документы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://dpa.gov.kg/ru/register">Реестр</a>
                </li>
            </ul>
        </nav>
    </header>

<!--    <div class="custom">-->
<!--        <select class="custom-select" onchange="location = this.value;">-->
<!--            <option selected="" value="http://privacy.dpa.gov.kg/lang/ru">-->
<!--                RU-->
<!--            </option>-->
<!--            <option value="http://privacy.dpa.gov.kg/lang/ky">-->
<!--                KY-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->
</nav>

<div class="container">
    <div class="row mt-4">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  ">
            <h1 class="heading">Оценка защиты политики конфиденциальности</h1>
            <h2 class="heading-md">Наш бесплатный генератор оценки защиты политики конфиденциальности поможет вам соблюдать требования законодательств Кыргызской Республики.</h2>
            <a href="/pdf" class="btn"><button
                    class="main_button  mt-3">Генерировать</button> </a>
        </div>
        <div class="image-back col-xs-12 col-sm-12 col-md-6 col-lg-6" >
            <img th:src="@{images/back.gif}">
        </div>
    </div>
</div>

<footer class="footer">
    <div>
        <h3>Контакты Aгентства:</h3>
        <p><br>Адрес: Кыргызская Республика, г. Бишкек, пр. Чуй, 265а, здание Национальной Академии наук, 2 этаж, западное крыло.</p>
        <p>Телефоны: +(996) 312 641 014;      +(996) 990 950 850</p>
        <p>E-mail: info@dpa.gov.kg</p>
        <p>Почтовый адрес: 720071</p>
        <p>Телеграм бот: <a href="https://t.me/AgentstvoPDbot">AgentstvoPDbot</a></p>
    </div>
</footer>
</body>
</html>